.idea
config/local.yml
device.*.json
device_bin
.DS_Store
.vscode/settings.json
device.bin
opkg/iot4b_keenetic*.ipk
opkg/iot4b_keenetic*/control
opkg/iot4b_openwrt*.ipk
opkg/iot4b_openwrt*/control
apt/*.deb
